/* styling for pokemon detail */
.pokemondDetail {
  text-align: center;
  font-size: 16pt;
}

.detailWrapper {
  text-align: center;
}

.pokemonDetailHeader {
  color: white;
  font-size: 72px;
  margin: 20px 100px 50px 0px;
}

.pokemonDetailCard {
  display: grid;
  margin: 10px;
  color: black;
  padding: 8px;
  border-radius: 2px;
  width: 50%;
  height: auto;
  text-align: left;
  background-color: white;
  margin: auto;
}

.profileHeader {
  background-color: darkgray;
  color: white;
}

h1 {
  /* font-size: 50px; */
  text-align: center;
  color: white;
}

.pokemonDetailCard .detailHeader {
  text-align: left;
  height: 40px;
  margin-bottom: 10px;
}

.pokemonDetailCard img {
  width: 35%;
  text-align: center;
}

.pokemonImage {
  display: inline-block;
  width: 40%;
  text-align: center;
}

.pokemonDetailCard .middleContainer {
  text-align: center;
  position: relative;
  width: 100%;
  vertical-align: middle;
}

.pokemonDetailCard .infoBox {
  position: relative;
  text-align: left;
  display: grid;
}

.pokemonDetailCard .statBox {
  display: inline-block;
  vertical-align: top;
}

.pokemonNumber {
  color: lightgray;
  font-weight: bold;
}

.attributeLink {
  text-decoration: none;
}
