/* wrapper for both login and register */
.register {
  text-align: center;
}

/* wrapper for input */
.box {
  background-color: black;
  width: 25%;
  text-align: center;
  color: white;
  border-radius: 10px;
  margin: auto;
  padding: 10px 0px;
}

/* submit button input */
input[type="submit"] {
  background-color: darkslategray;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 5px;
  font-size: 32px;
}

/* email */
.login {
  background-color: transparent;
  border: none;
  font-size: 32px;
  color: white;
}

/* password input */
input[type="password"] {
  background-color: transparent;
  border: none;
  font-size: 32px;
  color: white;
}

/* header */
h1 {
  text-align: center;
  color: white;
}

/* not found wrapper */
.notfound {
  justify-content: center;
  text-align: center;
}
