.register {
  text-align: center;
}

.box {
  background-color: black;
  width: 25%;
  text-align: center;
  color: white;
  border-radius: 10px;
  margin: auto;
  padding: 10px 0px;
}

input[type="submit"] {
  background-color: darkslategray;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 5px;
  font-size: 32px;
}

.login {
  background-color: transparent;
  border: none;
  font-size: 32px;
  color: white;
}

input[type="password"] {
  background-color: transparent;
  border: none;
  font-size: 32px;
  color: white;
}

h1 {
  text-align: center;
}

.notfound {
  justify-content: center;
  text-align: center;
}
