.typeBar {
  display: grid;
  margin-bottom: 10px;
}

.typeMobile > * {
  font-family: "SF UI Text", sans-serif;
  float: right;
  margin: 0px 2px 0px 2px;
  border-radius: 10px;
  border: solid;
  border-width: normal;
  padding: 5px;
  vertical-align: middle;
  font-weight: normal;
  font-size: 10pt;
}

.typeMobile > *:hover {
  animation-name: elevate_type;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}

@keyframes elevate_type {
  from {
    box-shadow: 0px 0px;
  }
  to {
    transform: translateX(-2px);
    transform: translateY(-2px);
    box-shadow: 2px 2px;
  }
}

.typeMobile .poison {
  border-color: rebeccapurple;
  color: rebeccapurple;
  background-color: rgb(198, 150, 247);
}

.typeMobile .grass {
  border-color: darkgreen;
  color: darkgreen;
  background-color: rgb(69, 250, 69);
}

.typeMobile .fire {
  border-color: darkred;
  color: darkred;
  background-color: rgb(233, 78, 78);
}

.typeMobile .flying {
  border-color: gray;
  color: gray;
  background-color: rgb(241, 241, 241);
}

.typeMobile .water {
  border-color: darkblue;
  color: darkblue;
  background-color: rgb(148, 148, 255);
}

.typeMobile .bug {
  border-color: darkgreen;
  color: darkgreen;
  background-color: rgb(172, 172, 255);
}

.typeMobile .normal {
  border-color: black;
  color: black;
  background-color: rgb(255, 255, 255);
}

.typeMobile .electric {
  border-color: gold;
  color: gold;
  background-color: rgb(255, 248, 210);
}

.typeMobile .ground {
  border-color: rgb(114, 30, 30);
  color: rgb(114, 30, 30);
  background-color: rgb(173, 44, 44);
}

.typeMobile .fairy {
  border-color: rgb(255, 2, 255);
  color: rgb(255, 2, 255);
  background-color: rgb(255, 167, 255);
}

.typeMobile .fighting {
  border-color: darkorange;
  color: darkorange;
  background-color: rgb(255, 185, 100);
}

.typeMobile .psychic {
  border-color: black;
  color: black;
  background-color: rebeccapurple;
}

.typeMobile .rock {
  border-color: gray;
  color: gray;
  background-color: rgb(75, 75, 75);
}

.typeMobile .steel {
  border-color: black;
  color: black;
  background-color: rgb(202, 200, 200);
}

.typeMobile .ice {
  border-color: cyan;
  color: cyan;
  background-color: white;
}

.typeMobile .ice {
  border-color: rgb(0, 190, 190);
  color: cyan;
  background-color: white;
}

.typeMobile .ghost {
  border-color: gray;
  color: gray;
  background-color: black;
}

.typeMobile .dragon {
  border-color: orangered;
  color: orangered;
  background-color: rgb(252, 164, 132);
}

.typeMobile .dark {
  border-color: black;
  color: black;
  background-color: rgb(87, 73, 73);
}
