/* align content of page */
.App {
  align-content: center;
  display: flexbox;
}

/* pokemon card container */
.pokemonCardHolder {
  width: 65%;
  text-align: center;
  margin: auto;
  display: block;
}

.AppearTransition-appear {
  opacity: 0.01;
  transform: translateY(80px);
}

.AppearTransition-appear.AppearTransition-appear-active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.5s ease-out;
}
