/* styling for pokemon */
.pokemonCard {
  display: inline-block;
  margin: 10px;
  color: black;
  padding: 8px;
  border-radius: 6px;
  width: 200px;
  background-color: rgb(223, 223, 223);
  font-size: 30px;
}

.pokemonCard hr {
  border: 2px solid black;
}

.pokemonCard img {
  width: 100%;
}
