/* styling for header */
.header {
  display: block;
  height: 64px;
  margin-top: 0px;
  margin-bottom: 100px;
}

.searchBar {
  display: inline-block;
  background-color: rgba(0, 0, 0, 1);
  opacity: 0.25;
  margin-top: 5px;
  padding: 10px 0px 35px 0px;
  border-radius: 4px;
  height: 50px;
}

.fa-search {
  font-size: 30px;
  margin: 0px 20px 0px 10px;
  font-weight: bold;
}

.mainSearch {
  background: transparent;
  border: none;
  color: white;
  font-size: 60px;
  width: 500px;
  margin: 0px 10px 0px 0px;
}

i {
  font-size: 36px;
  color: white;
  line-height: 200px;
  background-color: black;
  opacity: 25%;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  padding: 10px;
  margin: 0px 100px 0px 100px;
}

.arrow {
  background-color: black;
  color: white;
  z-index: 1;
  padding: 10px;
}
