/* wrapper for input */
.box {
  background-color: black;
  width: 50%;
  text-align: center;
  color: white;
  border-radius: 10px;
  margin: auto;
  padding: 10px 0px;
}

.login > h1 {
  color: black;
}

/* email */
.login {
  background-color: transparent;
  border: none;
  font-size: 32px;
  color: white;
}

/* password input */
input[type="password"] {
  background-color: transparent;
  border: none;
  font-size: 32px;
  color: white;
}

/* wrapper for input */
.boxMobile {
  background-color: black;
  width: 90%;
  text-align: center;
  color: white;
  border-radius: 10px;
  margin: auto;
  padding: 10px 0px;
}

.boxMobile input {
  font-size: 20px;
  width: 150px;
}

.loginMobile > h1 {
  color: black;
}

/* email */
.loginMobile {
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: white;
  width: 75%;
}

/* password input */
.boxMobile input {
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: white;
  width: 75%;
}
