/* align content of page */
.App {
  align-content: center;
  display: flexbox;
}

/* pokemon card container */
.pokemonCardHolder {
  width: 65%;
  text-align: center;
  margin: auto;
  display: block;
}

.attributeContainer {
  width: 300px;
  margin: auto;
  transform: translateX(-5px);
  padding: 10px;
  background-color: white;
  border-radius: 2px;
}
