.typesButtonMobile {
  width: 200px;
  background-color: orange;
}

.groupsButtonMobile {
  width: 200px;
  background-color: rgb(91, 168, 47);
}

.abilitiesButtonMobile {
  width: 200px;
  background-color: rgb(134, 45, 134);
}

.attributeContainerMobile {
  width: 250px;
  margin: auto;
  transform: translateX(-5px);
  padding: 10px;
  background-color: white;
  border-radius: 2px;
}
