/* styling for header */
/* wrapper styling */
.navBar {
  display: block;
}

.header {
  display: block;
  height: 64px;
  margin-top: 0px;
  margin-bottom: 110px;
}

i {
  font-size: 36px;
  color: white;
  line-height: 200px;
  background-color: black;
  opacity: 25%;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  padding: 20px;
  margin: 0px 100px 0px 100px;
}

.headerMobile {
  height: 64px;
  margin-top: 0px;
  margin-bottom: 110px;
}

.headerMobile i {
  font-size: 20px;
  color: white;
  line-height: 10px;
  background-color: black;
  opacity: 25%;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  padding: 20px;
  margin: 0px 10px 0px 10px;
}

.fa-arrow-left:active,
.fa-arrow-right:active {
  background-color: black;
  opacity: 10%;
}
