body {
  background-color: rgb(148, 148, 148);
  font-family: "Roboto", sans-serif;
}
.App {
  text-align: center;
  display: grid;
}

.pokemonCard {
  display: inline-block;
  margin: 10px;
  color: black;
  padding: 8px;
  border-radius: 2px;
  width: 100px;
  background-color: rgb(223, 223, 223);
}

a:hover {
  transform: translateX(5), translateY(5);
}

.pokemonCard hr {
  border: 2px solid black;
}

.searchBar {
  display: inline-block;
  background-color: rgb(80, 80, 80);
  margin-top: 5px;
  padding: 20px;
  border-radius: 4px;
}

input[type="text"] {
  background: transparent;
  border: none;
  color: white;
  font-size: 30px;
}

.header {
  display: block;
  height: 100px;
}

.forwardButton,
.backButton {
  margin: 25px;
  border-radius: 50%;
  padding: 10px;
  background-color: gray;
}

.forwardButton {
  float: right;
}

.backButton {
  float: left;
}

.type {
  font-family: "Open Sans Condensed", sans-serif;
  font-family: "Quicksand", sans-serif;
  border-radius: 10px;
  border: solid;
  border-color: orange;
  color: orange;
  border-width: thick;
  padding: 5px;
  background-color: yellow;
  float: right;
}
