.registerMobile h1 {
  color: black;
}

/* submit button input */
.registerMobile input[type="submit"] {
  background-color: darkslategray;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 5px;
  font-size: 20px;
}
